<h1>Gerenciador de notícias</h1>
<h3>Cadastrar notícia</h3>
<form #cadastro="ngForm" (submit)="salvar()">
  <div>
    <label for="titulo">Título</label>
    <input type="text" id="titulo" name="titulo" [(ngModel)]="titulo" required>
  </div>

  <div>
    <label for="discricao">Descrição</label>
    <textarea id="descricao" name="descricao" cols="80" rows="2" [(ngModel)]="descricao" required></textarea>
  </div>

  <div>
    <label for="conteudo">Conteúdo</label>
    <textarea id="conteudo" name="conteudo" cols="80" rows="5" [(ngModel)]="conteudo" required></textarea>
  </div>

  <div>
    <h3>Categoria</h3>
    <select id="categoria" name="categoria" [(ngModel)]="categoria">
      <option value="">Selecione uma categoria:</option>
      <option value="Informativa">Informativa</option>
      <option value="Artigo">Artigo</option>
      <option value="Reportagem">Reportagem</option>
    </select>
  </div>

  <div>
    <h3>Tags</h3>
    <select id="tags" name="tags" [(ngModel)]="tags">
      <option value="">Selecione uma tag:</option>
      <option value="Informativa">Informativa</option>
      <option value="Artigo">Artigo</option>
      <option value="Reportagem">Reportagem</option>
    </select>
  </div>
  <div>
    <h3>Selecione uma Data</h3>
    <input id="data_da_publicacao" type="date" name="data_da_publicacao" [(ngModel)]="data_da_publicacao">
  </div>

  <div >
    <h3>Notícia está publicada </h3>
    <input type="checkbox" id="noticia_publicada" name="noticia_publicada" [(ngModel)]="noticia_publicada"  value="Sim"/>Sim       
    <input type="checkbox" value="Não"/>Não        
  </div>

  <div>
    <button type="submit" [disabled]="!cadastro.form.valid">Salvar</button>
    <button type="reset" formnovalidate>Limpar</button>
  </div>
</form>

<h2>Ver Noticias recentes</h2>
<p>Clique no título da notícia para expandir</p>
<div>
  <ul>
    <li *ngFor="let noticia of noticias">
      <p (click)="mostrar(noticia)">{{ noticia.titulo }}</p>
      <p *ngIf="noticia.visivel">
        {{noticia.descricao}}
          <br>
        {{noticia.conteudo}}
          <br>
        {{noticia.categoria}}
          <br>
        {{noticia.tags}}
          <br>
        {{noticia.data_da_publicacao}}
          <br>
        {{noticia.noticia_publicada == true? "Sim" : "Não"}}        
          <br>
        {{noticia.editoria}}
          <br> -------------
          <br>
        <button (click)="fechar(noticia)">Fechar</button>
        <button (click)="editar(noticia)">Editar</button>
        <button (click)="excluir(noticia)" type="reset" formnovalidate >Excluir</button >
      </p>
    </li>
  </ul>
</div>